<% include top %>
    <div class="col-sm-9 col-xs-12 admin-info mt-3">
        <div class="row">
            <div class="jumbotron bg-white btn-block">
                <h1 class="display-3">Sửa Sản Phẩm</h1>
                <p class="lead"></p>
                <hr class="my-2">
                <form action="/admin/editproduct/<%= product.link%>.<%= product._id %>" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="">Tên Sản Phẩm</label>
                      <input type="text" name="name" value="<%= product.name %>" class="form-control" placeholder="" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <label for="">Hình ảnh</label>
                      <img src="/uploads/<%= product.image %>" width="200" alt="">
                      <a href="#" class="productEditImg"> Chỉnh Sửa ảnh</a>
                    </div>
                    <div class="form-group">
                      <label for="">Danh Mục</label>
                        <select class="form-control" name="category_id">
                          <option value="<%= product.category_id._id %>"><%= product.category_id.name %></option>
                          <% var id=product.category_id._id ;%>
                          <% categoryProduct.forEach(function(sp){ %>
                            <% if((id)!=(sp._id)){ %>
                              <option value="<%= sp._id %>"><%= sp.name %></option>
                            <% } %>
                          <%}) %>
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="editor">Mô tả trên khung sản phẩm</label>
                      <textarea name="content" id="editor"><%= product.content %>"</textarea>
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <label for="">Giá sản phẩm</label>
                      <input type="text" name="price" required pattern="[0-9]{4,}"  class="form-control" value="<%= product.price_old %>" placeholder="Giá gốc sản phẩm" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <label for="">Giảm giá (%)</label>
                      <input type="text" name="priceSale"  class="form-control" value="<%= product.price_sale %>" placeholder="Đơn vị mặc định %" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <label for="">Số lượng</label>
                      <input type="text" name="number" pattern="[0-9]{1,}" required class="form-control" value="<%= product.amount %>" placeholder="Số lượng sản phẩm" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <label for="">Đường dẫn</label>
                      <input type="text" name="link" pattern="[a-zA-Z0-9._%+-._%+//]+" required class="form-control" value="<%= product.link %>" placeholder="Ví dụ: tên sản phẩm: Giày thể thao thì điền giay-the-thao" aria-describedby="helpId">
                      <small id="helpId" class="text-muted"></small>
                    </div>
                    <div class="form-group">
                      <label for="editor1">Thông tin sản phẩm</label>
                      <textarea name="infoProduct" id="editor1"><%= product.description %>"</textarea>
                        
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <label for="editor2">Chi tiết sản phẩm</label>
                      <textarea name="detailProduct" id="editor2"><%= product.description_detail %>"</textarea>
                      <small id="helpId" class="text-muted">Help text</small>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-outline-success btn-block btn-lg">Sửa Ngay</button>
                      <a href="/admin/managerProduct" class="btn btn-outline-danger btn-block btn-lg">Hủy</a>
                    </div>
                </form>
            </div>
            <!-- jumbotron -->
            
        </div>
    </div>
    <!-- managerinfo col:12 -->
    <script>
        $(document).ready(function () {
            editor("editor");
            editor("editor1");
            editor("editor2");
        });
        function editor(id){
            
            CKEDITOR.replace( ''+id+'', {
                filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?Type=Images'
            });
        }
    </script>
<% include bottom %>