<% include top %>
<%  
    var getDateTime= function(date) {
        var hour = date.getHours();
        hour = (hour < 10 ? "0" : "") + hour;
        var min  = date.getMinutes();
        min = (min < 10 ? "0" : "") + min;
        var sec  = date.getSeconds();
        sec = (sec < 10 ? "0" : "") + sec;
    
        var year = date.getFullYear();
    
        var month = date.getMonth() + 1;
        month = (month < 10 ? "0" : "") + month;
    
        var day  = date.getDate();
        day = (day < 10 ? "0" : "") + day;
    
        return   hour + ":" + min +" - " + day + "/" + month+ "/" +year ;
    };
    %>
    <div class="col-sm-9 col-xs-12 manager-order mt-3">
        <div class="row">
            <div class="jumbotron bg-white btn-block">
                <h1 class="display-3">Các đơn đặt hàng</h1>
                
            </div>
            <table class="table table-striped table-bordered table-responsive-sm mt-3">
                <thead class="thead-light ">
                    <tr>
                        <th>Khách Hàng</th>
                        <th>Ngày đặt</th>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Tổng cộng</th>
                        <th>Trạng thái</th>
                        <th>Khác</th>
                    </tr>
                </thead>
                <tbody id="reloads">
                <% order.forEach(function(item){ %>
                <tr>
                    <td><a href=""><%= item.user_id.fullname %></a></td>
                    <td><%= getDateTime(item.create_at);%></td>
                    <td>
                        <img src="/uploads/<%= item.product_id.image %>" width="50" alt="">
                    </td>
                    <td><%= item.product_id.name %></td>
                    <td><%= item.quanlity %></td>
                    <td><%= format(item.quanlity*item.product_id.price_new) %> VNĐ</td>
                    <td>
                        <a href="" class="fix-status" >Chờ giao hàng</a>
                        <select name="successStatus" class="form-control" idu="<%=item._id%>" class="success-status" style="display:none">
                            <option value="0">Chờ giao hàng</option>
                            <option value="1">Giao hàng thành công</option>
                            <option value="2">Hủy đơn hàng</option>
                        </select>
                    </td>
                    <td><a href="/admin/detailOrder/<%= item._id %>">Chi tiết</a></td>
                </tr>
                <%});%>
                    
                </tbody>
            </table>
        </div>
    </div>
    <!-- managerinfo col:12 -->

<% include bottom %>